@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* Changed serif to sans-serif */
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --bg-color: #11172D;
    --light-blue-color: #83EECE;
    --para-color: #11172DB2;
    --white-colo: #fff;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background: var(--white-colo);
    z-index: 100;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;
}

header nav ul a {
    color: var(--bg-color);
    font-weight: 400;
    position: relative;
}

header nav ul a::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: var(--bg-color);
    transition: all .3s;
}

header nav ul a:hover::after {
    width: 100%;
}

.logo img {
    width: 172px;
}

.m-menu-btn {
    display: none;
    cursor: pointer;
}

.close-btn-m {
    display: none;
    cursor: pointer;
}

.nav-link.active::after {
    width: 100%;
}

/* HERO SECTION START  */

#hero-section {
    background: var(--bg-color);
    /* Changed from red to var(--bg-color) */
    padding-top: 8rem;
}

.hero-container {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

.growth-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.growth-box p {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    background-clip: text;
}

.hero-head {
    width: fit-content;
    font-size: 70px;
    font-weight: 600;
    max-width: 1130px;
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--white-colo);
    line-height: 1.2;
    margin-top: 1rem;
    position: relative;
}

.hero-head::after {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    background: url('./images/star.png') no-repeat;
    background-size: cover;
    left: 0;
    top: -25%;
}

.hero-head::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    background: url('./images/star.png') no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
}

.le-color {
    color: transparent;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    background-clip: text;
}

.hero-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
}

.get-btn {
    outline: none;
    border: none;
    display: block;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    width: fit-content;
    /* margin: auto; */
    padding: 10px 25px;
    border-radius: 100vh;
    transition: background .3s;
    color: var(--white-colo);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 16px;
    font-weight: 600;
}

.learn-btn {
    outline: none;
    border: none;
    display: block;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    width: fit-content;
    /* margin: auto; */
padding: 1px;
    border-radius: 100vh;
    transition: background .3s;
    color: var(--white-colo);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 16px;
    font-weight: 600;
}

.learn-btn span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    padding: 10px 25px;
    background: var(--bg-color);
}

.get-btn:hover,
.learn-btn:hover {
    background: linear-gradient(91.29deg, #A6FFCB -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #1FA2FF 142.68%);
}

.growth-boxes {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.growth-boxes .box-bg-fill {
    max-width: 423px;
    width: 100%;
    background: #E8EAEB;
    height: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.growth-boxes .box-bg-fill img {
    width: 70%;
}

.growth-boxes .box {
    width: 335px;
    height: 340px;
    background: radial-gradient(80.38% 222.5% at -13.75% -12.36%, #98F9FF 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(80.69% 208.78% at 108.28% 112.58%, #4CD2D0 0%, rgba(135, 38, 183, 0) 100%);
    padding: 1px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.growth-boxes .box div {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.growth-boxes .box div img {
    width: 70%;
}

/* HERO SECTION END  */

/* TRUSTED SECTION START */
.all-head {
    font-size: 45px;
    font-weight: 700;
    color: var(--bg-color);
}

.all-para-head {
    font-size: 22px;
    color: var(--para-color);
}

.trusted-container {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    padding: 5rem 0;
}

.trusted-head {
    text-align: center;
}

.trusted-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.trusted-boxes .box {
    flex-shrink: 0;
    width: 68px;
    height: 68px;
}

.trusted-boxes .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trusted-boxes .box.instagram {
    width: 75px;
    height: 75px;
}

/* TRUSTED SECTION END */

/* SALUTION SECTION START */
.salution-container {
    max-width: 1240px;
    width: 90%;
    margin: auto;
}

.salution-boxes .box ul {
    padding-left: 1.2rem;
    font-size: 16px;
    color: var(--para-color);
}

.salution-boxes .box h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--bg-color);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.salution-img-box {
    position: relative;
    width: fit-content;
}

.salution-img-box img {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
}

.salution-img-box::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--light-blue-color);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}

.salution-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

/* SALUTION SECTION END */

/* SECURITY SECTION START */
#security-section {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
}

.security-head {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.security-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
    margin-top: 4rem;
}

.security-boxes .box {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.security-image-box {
    height: 20vw;
    aspect-ratio: 1/1;
    align-content: center;
}

.security-boxes .box img {
    width: 100%;
}

.security-boxes .box h3 {
    font-size: 28px;
    font-weight: 600;
}

.security-boxes .box:nth-child(1) h3,
.security-boxes .box:nth-child(4) h3 {
    color: var(--bg-color);
}

.security-boxes .box:nth-child(1),
.security-boxes .box:nth-child(4) {
    border: 1px solid #11172D80
}

.security-boxes .box:nth-child(2) h3,
.security-boxes .box:nth-child(3) h3 {
    color: var(--white-colo);
}

.security-boxes .box:nth-child(2),
.security-boxes .box:nth-child(3) {
    background: var(--bg-color);
}

/* SECURITY SECTION END  */

/* PRODUCT SECTION START */
.product-container {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    margin-top: 8rem;

}

.product-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #292E4280;
    gap: 2rem;
    margin-top: 5rem;
}

.product-boxes .box {
    border: 1px solid #292E4233;
    height: 100%;
}

.product-boxes .product-img-box {
    width: 160px;
    height: 160px;
    margin: auto;
    align-content: center;
}

.product-boxes .product-img-box img {
    width: 100%;
}

.product-box-head h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--bg-color);
    text-align: center;
    border-bottom: 1px solid #292E4233;
    padding: 10px 10px;
    height: 90px;
    align-content: center;
}

.product-boxes .box .product-para {
    padding: 0 1rem;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
    margin-top: 1rem;
}

.product-boxes .product-content {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100%;
    padding: 1rem 0;
    gap: 1rem;
}

/* PRODUCT SECTION END */

/* TESTIMONIALS SECTION START */
#testimonials-section {
    background: var(--bg-color);
    margin: 8rem 0;
    padding: 2rem 0;
}

.testimonials-container {
    /* max-width: 1240px; */
    margin: auto;
    /* width: 90%; */
}

.testimonials-head {
    text-align: center;
    margin-bottom: 3rem;
}

.testimonials-head h3,
.testimonials-head p {
    color: var(--white-colo);
}

.testimonials-boxes {
    /* margin-top: 5rem; */
    width: fit-content;
    margin: auto;
}

/* .testimonials-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.testimonials-boxes .box {
    /* width: 415px; */
    height: 433px;
    background: #424967;
    border-radius: 39% 17% 83% 33% / 33% 25% 37% 25%;
    /* clip-path: polygon(12% 0, 95% 27%, 89% 98%, 0% 100%); */
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.testimonials-boxes .box::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    top: -3%;
    left: 20%;
    z-index: -1;
    border-radius: 26% 74% 52% 21% / 14% 60% 22% 40%;
    transform: rotate(-3deg);
}

.testimonials-boxes .box h3 {
    font-size: 24px;
    font-weight: 600;
    color: #CFCFCF;
    text-align: center;
    line-height: 1;
    position: relative;
    top: -.7rem;
}

.testi-owner-name {
    font-size: 18px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}

.testi-img-box {
    width: 102px;
    height: 102px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: -40px;
}

.testi-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-boxes .quete-line {
    display: block;
    width: fit-content;
    margin: .5rem auto;
}

.testimonials-boxes .para {
    color: #CFCFCF;
    padding: 0 1.5rem;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.swiper {
    /* max-width: 1000px !important; */
    /* width: 90% !important; */
    margin: auto !important;
    /* overflow: visible !important; */
    padding-top: 50px !important;
}

.main-swiper {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    position: relative;
}

.swiper-button-next-t {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-colo);
    cursor: pointer;
    z-index: 10;
}

.swiper-button-next-t svg,
.swiper-button-prev-t svg {
    height: 50px;
}

.swiper-button-prev-t {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-colo);
    cursor: pointer;
    z-index: 10;
}

.swiper-slide {
    transition: transform 0.3s ease;
    transform-origin: center center;
}


/* TESTIMONIALS SECTION END */

/* ABOUT SECTION START */
.about-container {
    max-width: 1240px;
    margin: 8rem auto;
    width: 90%;
}

.about-boxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2.5rem;
    column-gap: 5vw;
}

.about-boxes .box-one h4 {
    font-size: 28px;
    font-weight: 600;
    color: var(--bg-color);
}

.about-boxes .box-one {
    margin-bottom: 1.5rem;
}

.img-box-about {
    width: 42vw;
    /* height: 420px; */
    aspect-ratio: 1/1;
}

.about-boxes .box-one p {
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
    padding-top: .5rem;
}

.about-boxes .box-one ul {
    padding-left: 1.4rem;
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
}

.about-boxes .box-one ul li {
    padding-top: .5rem;
}

.img-box-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

/* ABOUT SECTION END */

/* CONTACT SECTION START */
.contact-container {
    max-width: 1240px;
    width: 90%;
    margin: auto;
}

.contact-head {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.contact-us-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.contact-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
}

.contact-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--white-colo);
}

.contact-content .contact-para {
    font-weight: 400;
    color: var(--white-colo);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-content .mini-contact h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--white-colo);
    margin-bottom: 1rem;
}

.contact-content .same-s {
    color: var(--white-colo);
    font-weight: 500;
    margin-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
}

.contact-content .same-s::after {
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background: var(--bg-color);
    border-radius: 100%;
}

.contact-form {
    width: 100%;
    height: 100%;
    background: #ECEEF0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contact-form input {
    height: 56px;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: var(--white-colo);
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: .5rem;
    color: var(--bg-color);
}

.contact-form .input-box {
    margin-top: 2rem;
}

.contact-form .input-box label {
    font-weight: 700;
    color: var(--bg-color);
    display: block;
    width: fit-content;
}

.contact-form .input-box textarea {
    height: 224px;
    width: 100%;
    margin-top: .5rem;
    padding: 15px;
    font-size: 16px;
    color: var(--bg-color);
    outline: none;
    border: none;
    background: var(--white-colo);
    border-radius: 5px;
    resize: none;
}

.contact-form .submit-btn {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 100vh;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    color: var(--white-colo);
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #A6FFCB 142.68%);
}

.contact-form .submit-btn:hover {
    background: linear-gradient(91.29deg, #A6FFCB -13.05%, rgba(18, 216, 250, 0.8) 60.61%, #1FA2FF 142.68%);
}

/* CONTACT SECTION END */

/* FOOTER START */
.footer-logo {
    width: fit-content;
    margin: auto;
    height: 40px;
}

.footer-logo img {
    height: 100%;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    list-style: none;
    margin: 1rem 0;
}

.footer-links a {
    color: var(--bg-color);
    font-size: 16px;
    position: relative;
}

.footer-links a::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: var(--bg-color);
    transition: all .3s;
}

.footer-links a:hover::after {
    width: 100%;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    list-style: none;
    margin-top: 2.5rem;
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 1.5rem;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.footer-copyright {
    text-align: center;
    padding: 1.5rem 0;
    color: var(--bg-color);
}

.footer-container {
    max-width: 1240px;
    margin: auto;
    width: 90%;
}

footer {
    background: #EEF0F4;
    padding-top: 2rem;
    margin-top: 8rem;
}

/* FOOTER END */

/* CLICK TO UP BTN */
.click-to-up-btn {
    position: fixed;
    right: 5%;
    bottom: -5%;
    opacity: 0;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgb(18, 215, 250) 60.61%, #A6FFCB 142.68%);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all .2s linear;
}

.click-to-up-btn img {
    width: 30px;
    filter: invert(100);
}

.btn-active {
    bottom: 5%;
    opacity: 1;
}

/* MEDIA QUERY START  */

@media only screen and (max-width: 1024px) {
    header nav ul {
        position: fixed;
        right: -100%;
        z-index: 100;
        top: 0;
        width: 80%;
        height: 100%;
        background: linear-gradient(91.29deg, #1FA2FF -13.05%, rgb(18, 215, 250) 60.61%, #A6FFCB 142.68%);
        flex-direction: column;
        justify-content: start;
        padding-top: 4rem;
        color: var(--white-colo);
        transition: all .4s;
    }

    header nav ul.show {
        right: 0;
    }

    header nav ul li a {
        color: var(--white-colo);
        font-size: 18px;
    }

    header nav ul li a::after {
        background: var(--white-colo);
    }

    .m-menu-btn {
        display: block;
        width: 3rem;
        height: 3rem;
    }

    .close-btn-m {
        display: block;
        left: 1rem;
        top: 1rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
    }

    .hero-head {
        font-size: 50px;
    }

    .growth-boxes .box-bg-fill {
        max-width: 350px;
        height: 390px;
    }

    .growth-boxes .box {
        width: 230px;
        height: 230px;
    }

    .swiper-button-next-t,
    .swiper-button-prev-t {
        height: 50px;
        width: 50px;
    }

    .security-boxes .box h3 {
        font-size: 18px;
    }
}


@media only screen and (max-width: 1023px) {
    .product-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .growth-boxes {
        gap: 1rem;
    }

    .testimonials-boxes .box {
        width: 415px;
    }

    .salution-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 3rem;
    }

    .about-boxes {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }
}


@media only screen and (max-width: 768px) {
    .growth-box p {
        font-size: 16px;
    }

    .growth-box img {
        width: 1.3rem;
    }

    .hero-head {
        font-size: 35px;
    }

    .growth-boxes {
        column-gap: 1rem;
    }

    .growth-boxes .box-bg-fill {
        max-width: 240px;
        height: 236px;
    }

    .growth-boxes .box {
        width: 150px;
        height: 140px;
    }

    .all-head {
        font-size: 25px;
    }

    .all-para-head {
        font-size: 18px;
    }

    .salution-boxes {
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
    }

    .salution-boxes .box h3 {
        font-size: 20px;
    }

    .security-boxes .box h3 {
        font-size: 18px;
    }

    .product-box-head h3 {
        font-size: 18px;
        padding: 10px 0;
    }

    .product-boxes {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
    }

    .product-boxes .box .product-para {
        font-size: 16px;
    }

    .testimonials-boxes .para {
        font-size: 16px;
    }

    .swiper-button-next-t,
    .swiper-button-prev-t {
        height: 40px;
        width: 40px;
    }

    .about-boxes .box-one h4 {
        font-size: 20px;
    }

    .about-boxes .box-one p {
        font-size: 16px;
    }

    .about-boxes .box-one ul {
        font-size: 16px;
    }

    .contact-content h2 {
        font-size: 25px;
    }

    .about-boxes {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    .contact-us-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contact-form {
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer-links {
        flex-direction: column;
        row-gap: 10px;
    }

    .contact-content .mini-contact h3 {
        font-size: 18px;
    }

    .contact-content .contact-para {
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    .swiper {
        width: 100% !important;
    }

    .testimonials-boxes .box {
        width: 286px;
        height: 348px;
        margin: auto;
    }

    .testi-img-box {
        width: 60px;
        height: 60px;
        top: -24px;
    }

    .testimonials-boxes .para {
        font-size: 14px;
    }

    .swiper-button-next-t,
    .swiper-button-prev-t {
        z-index: 1;
    }

    .testimonials-head {
        margin-bottom: 1rem;
    }

    .hero-head::before {
        bottom: -50%;
    }


}

@media only screen and (max-width: 550px) {
    .security-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .security-image-box {
        height: 30vw;
    }

    .product-boxes {
        grid-template-columns: repeat(1, 1fr);
        gap: 4vw;
    }

    .salution-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .growth-boxes .box-bg-fill {
        max-width: 160px;
        height: 176px;
    }

    .growth-boxes .box {
        width: 99px;
        height: 107px;
    }
}



@media only screen and (max-width: 425px) {
    .growth-boxes .box-bg-fill {
        max-width: 135px;
        height: 152px;
    }

    .growth-boxes .box {
        width: 90px;
        height: 95px;
    }

    .trusted-boxes {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    .trusted-boxes .box {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
    }

    .trusted-boxes .box.instagram {
        width: 48px;
        height: 48px;
    }

    .salution-boxes {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }

    .salution-boxes .box h3 {
        margin-top: .5rem;
    }

    .security-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4vw;
        margin-top: 2rem;
    }

    #security-section {
        margin-top: 5rem;
    }

    .product-boxes {
        grid-template-columns: repeat(1, 1fr);
        gap: 4vw;
        margin-top: 2rem;
    }

    .product-container {
        margin-top: 5rem;
    }



    .img-box-about {
        width: 100%;
        height: 100%;
    }

    .about-container {
        margin: 4rem auto;
    }

    #testimonials-section {
        margin: 5rem 0;
    }

    footer {
        padding-top: 1.5rem;
        margin-top: 5rem;
    }

    .contact-form input {
        height: 45px;
    }

    .security-image-box {
        height: 50vw;
    }

    #hero-section {
        padding-top: 1rem;
    }

    .hero-head::before,
    .hero-head::after {
        width: 1.5rem;
        height: 1.5rem;
    }
}


@media only screen and (max-width: 367px) {
    header {
        height: 80px;
    }

    .logo img {
        width: 120px;
    }

    .m-menu-btn {
        display: block;
        width: 2rem;
        height: 2rem;
    }

    .trusted-container {
        padding: 3rem 0;
    }

    .social-links img {
        width: 25px;
        height: 25px;
    }

    .contact-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-content .same-s::after {
        width: 13px;
        height: 13px;
        top: 50%;
        transform: translateY(-50%);
    }

    .contact-content .same-s {
        padding-left: 1.5rem;
    }

    .contact-form {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .growth-boxes .box-bg-fill {
        max-width: 120px;
        height: 130px;
    }

    .hero-btn-box {
        gap: 1rem;
    }

    .learn-btn span,
    .get-btn {
        font-size: 14px;
    }
}